* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #202020;
    color: #f8f8f8;
    display: grid;
    place-content: center center;
}

#app {
    padding: 30px;
    border: 2px solid  #f8f8f8;
    border-radius: 50px;
    cursor: pointer;
}